<h1>@ViewBag.a</h1>
<form asp-action="Index">
    <label>Dien ten</label>
    <input type="text" name= "Hoten">
    <label>Dien dia chi</label>
    <input type="text" name= "Diachi">
    <input type="Submit" value="Send">
</form>